{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}

{% block content %}
<div class="landing">
    <img src="{% static 'images/school(1).png' %}" alt="">
    <img src="{% static 'images/20231212_BTS_ModernLaboratory_SupportImage-1080x600.png' %}" alt="">
    <img src="{% static 'images/20231212_BTS_ModernLaboratory_SupportImage-1080x600.png' %}" alt="">
    <div class="container">
        <div class="indicators">
            <div class="slide active"></div>
            <div class="slide"></div>
            <div class="slide"></div>
        </div>
        <div class="cont active">
            <div class="image">
                <img src="{% static 'images/landing.jpg' %}" alt="">
            </div>

            <div class="welcome">
                <h1>Advances of science make easier our daily life!</h1>
            </div>
        </div>
        <div class="cont">
            <div class="image">
                <img src="{% static 'images/landing2.jpg' %}" alt="">
            </div>

            <div class="welcome">
                <h1>Your health is our responsibility</h1>
            </div>
        </div>
        <div class="cont">
            <div class="image">
                <img src="{% static 'images/landing3.jpg' %}" alt="">
            </div>

            <div class="welcome">
                <h1>Welcome to our laboratory</h1>
            </div>
        </div>
    </div>
</div>
<div class="about" id="About">
    <div class="title">
        About-US
    </div>
    <div class="container">
        <div class="cont">
            <div class="box">
                <h1>A Few Words About Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo corrupti iure assumenda reprehenderit quae facilis dolore autem id quas? Quidem maiores veritatis facere nemo rem numquam perferendis sapiente assumenda nisi?Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Doloribus animi, esse corrupti hic iusto obcaecati nam quos ad distinctio culpa ex. Consequatur, culpa doloremque! Excepturi asperiores necessitatibus enim ducimus consequatur?Lorem
                    ipsum dolor sit amet consectetur adipisicing elit. Harum quasi ratione, eos velit, numquam eius dolor animi tenetur, sunt in fugit magni laboriosam accusantium commodi atque. Rem aliquid iusto nostrum.</p>
                <img src="{% static 'images/index-1_img01.jpg' %}" alt="">
            </div>
            <div class="box">
                <h1>What We Do</h1>
                <h3>Donec accumsan malesua</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ea culpa enim dicta. Unde quia vel optio? Id tempore et nobis odit animi soluta dolore aliquam, sed commodi. Illum, praesentium.</p>
                <h3>Donec accumsan malesua</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt iste provident, nihil unde delectus eligendi modi quos. Ipsa, repudiandae! Distinctio repudiandae dolorem voluptatem deleniti a! A accusantium eius ex omnis.</p>
                <h3>Donec accumsan malesua</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae iste culpa eveniet vel harum modi voluptatum animi quaerat sit quod expedita, necessitatibus ex velit aliquid eos quisquam, officia quasi exercitationem!</p>
            </div>
        </div>
    </div>
</div>
<div class="spikes"></div>
<div class="service" id="Service">
    <img src="{% static 'images/vecteezy_white-rectangle-png_21625116.png' %}" alt="">
    <img src="{% static 'images/hive.png' %}" alt="">
    <img src="{% static 'images/molecule.png' %}" alt="">
    <div class="title">Services</div>
    <div class="container">
        <div class="box">
            <div class="image">
                <img src="{% static 'images/rendez-vous-1.jpg' %}" alt="">
            </div>
            <div class="text">
                <h2>Appointment</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, est fuga. Nostrum aspernatur, saepe ducimus commodi vel enim eveniet alias perspiciatis est possimus illum tenetur dolores eius maiores harum et.</p>
            </div>
           <a href="{% url 'appointment' %}"> <button>More</button></a>
        </div>
        <div class="box">
            <div class="image">
                <img src="{% static 'images/service.jpg' %}" alt="">
            </div>
            <div class="text">
                <h2>Our Services</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, est fuga. Nostrum aspernatur, saepe ducimus commodi vel enim eveniet alias perspiciatis est possimus illum tenetur dolores eius maiores harum et.</p>
            </div>
            <a href="{% url 'services' %}"><button>More</button></a>
        </div>
        <div class="box">
            <div class="image">
                <img src="{% static 'images/data-analyse.jpg' %}" alt="">
            </div>
            <div class="text">
                <h2>Get Analysis</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, est fuga. Nostrum aspernatur, saepe ducimus commodi vel enim eveniet alias perspiciatis est possimus illum tenetur dolores eius maiores harum et.</p>
            </div>
            <a href="{% url 'get_analysis' %}"><button>More</button></a>
        </div>
    </div>
    <div class="wave"></div>
</div>
<div class="contact" id="Contact">
    <div class="title">Contact Us</div>
    <div class="content">
        <div class="col">
            <form action="">
                <input type="text" placeholder="Your name">
                <input type="email" placeholder="Your email">
                <input type="tel" placeholder="Your phone">
                <textarea name="" id="" cols="30" rows="10" placeholder="Write your comment"></textarea>
                <input type="button" value="send message">
            </form>
        </div>
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.83543450974!2d144.95565131564885!3d-37.81732797975192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d43f4e80a47%3A0x5045675218ce6e0!2sMelbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2sus!4v1600112800000!5m2!1sen!2sus"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <img src="{% static 'images/scientists-working-concept.png' %}" alt="">
        </div>
    </div>
</div>

{% endblock %}